# Dependencies
node_modules
.pnpm-store

# Build outputs
.next

# Dev files
.env
.env.local
*.db
*.db-journal

# Git
.git
.gitignore

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Misc
README.md
*.md
